<h1>Log In Below:</h1>
<form action="/sessions" method="post">
  Name: <input type="text" name="name" id="name">
  Password: <input type="text" name="password" id="password">
  <input type="submit">
</form>
